@inherits RoomSendBase

<div class="chat-room__send-message-form">
    <img src="@User.AvatarUrlSmall" width="38" height="38" class="chat-room__send-message-avatar" />
    <textarea id="@MessageInputId"
              rows="@Rows"
              class="@NewMessageClass"
              @bind-value="NewMessage"
              @bind-value:event="oninput"
              @onkeydown="Shortcuts"
              placeholder="Ctrl-Enter to send..." />
    <button id="@OkButtonId" type="submit" class="chat-room__send-button" @onclick="SendMessage">Ok</button>
</div>
<button class="chat-room__filter-button@(FilterUnreadActive ? "--active" : "")" @onclick="FilterUnread"><i class="fas fa-filter"></i></button>
