@inherits RoomSearchBase

<h3 class="chat-room__search-heading">Search</h3>
<form onsubmit="@Search">
	<input class="chat-room__search-box" type="text" placeholder="e.g. context" bind="@SearchText" />
</form>
<button class="chat-room__search-button" onclick="@(()=>SearchResult=null)">Clear</button>

@if (SearchResult is object)
{
	<div class="chat-room__search-results">
		@foreach (var message in SearchResult)
		{
			<Message MessageData="@message" UserId="@UserId" />
		}
	</div>
}
