@inherits BGSettingsBase
@namespace Blazor.Gitter.Components

<table class="bgsettings-table-grid">
    <tbody>
        <tr>
            <th>
                Accent color
            </th>
            <td align="left">
                <input type="radio" name="accent" checked="@(pSettingsVM.pAccentColor == 0)" @onchange="@(() => pSettingsVM.pAccentColor = 0)" /> Light cyan<br />
                <input type="radio" name="accent" checked="@(pSettingsVM.pAccentColor == 1)" @onchange="@(() => pSettingsVM.pAccentColor = 1)" /> Light red
            </td>
        </tr>

        <tr>
            <th>
                Chatroom update interval (s)
            </th>
            <td align="left">
                <input type="number" @bind="@pSettingsVM.pChatroomUpdateInterval" />
            </td>
        </tr>

        <tr>
            <th>
                Room update interval (s)
            </th>
            <td align="left">
                <input type="number" @bind="@pSettingsVM.pRoomUpdateInterval" />
            </td>
        </tr>

        <tr>
            <th>
                Submit key
            </th>
            <td align="left">
                <input type="radio" name="submit" checked="@(pSettingsVM.pSubmitKey == 0)" @onchange="@(() => pSettingsVM.pSubmitKey = 0)" /> Enter<br />
                <input type="radio" name="submit" checked="@(pSettingsVM.pSubmitKey == 1)" @onchange="@(() => pSettingsVM.pSubmitKey = 1)" /> Ctrl-Enter
            </td>
        </tr>

        <tr>
            <th>
                Theme
            </th>
            <td align="left">
                <input type="radio" name="theme" checked="@(pSettingsVM.pTheme == 0)" @onchange="@(() => pSettingsVM.pTheme = 0)" /> Dark<br />
                <input type="radio" name="theme" checked="@(pSettingsVM.pTheme == 1)" @onchange="@(() => pSettingsVM.pTheme = 1)" /> Light
            </td>
        </tr>

        <tr>
            <th>
                Timeout interval (s)
            </th>
            <td align="left">
                <input type="number" @bind="@pSettingsVM.pTimeoutInterval" />
            </td>
        </tr>

    </tbody>
</table>
<br />
<button @onclick="@Save" class="btn btn-primary">Save</button>
<button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
